*{
    margin: 0;
    padding: 0;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
body {
    background: black;
    color: white;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.topNavBar {
    padding: 20px 16px 20px 16px;
}
.topNavBar > nav {
    float: right;
    padding-top: 7px;
}
.topNavBar > nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar > nav > ul > li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topNavBar > nav > ul > li > a {
    font-size: 12px;
    color: #b7b7b7;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
.topNavBar > nav > ul > li > a:hover {
    border-bottom: 3px solid #e06567;
}

.topNavBar .logo {
    font-size: 24px;
    font-family: 'Arial Black';
    padding-top: 3px;
    padding-bottom: 4px;
    float: left;
}
.topNavBar .logo .rs {
    margin-right: 4px;
    color: #e6686a;
}
.topNavBar .logo .card {
    color: #9a9da2;
}
.banner {
    background-size: cover;
    background-image: url(../img/rs-cover.jpg);
    height: 515px;
    background-position: center center;
}
.banner .mask {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 515px;
}
.PictureAndText {
    padding: 50px;
}
.pictureAndText>.picture {
    float: left;
}
.card {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    margin-top: -345px;
}
.card .text {
    float: left;
    margin-left: 65px;
    width: 470px;
}
.card .profile {
    color: #333;
}
.card .text .profile .welcome {
    color: white;
    background-color: #E6686A;
    padding: 4px 16px;
    line-height: 22px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
}
.card .text .profile>hr {
    margin: 20px 0;
}
.card .text .profile .welcome::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    margin-left: 4px;
    border: 10px solid transparent;
    border-left-color: #e6686a;
    border-top-width: 0px;
    top: 100%;
}
.card dl>*{
    float: left;
    padding: 5px 0;
}
.card dl dt {
    width: 30%;
    font-weight: bold;
}
.card dl dd {
    width:70%;
    color: #999;
}
.card > footer.media {
    background: #e6686A;
    text-align:center;
}
.card > footer.media > a {
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}
.card svg {
    width: 30px;
    height: 30px;
    vertical-align: top;
    fill: #fff;
}